name: C/C++ CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v4
    - name: Add MSBuild to PATH
      uses: microsoft/setup-msbuild@v1.0.2
    - name: Restore NuGet packages
      run: nuget restore DarkEnforcer.sln
      continue-on-error: true
    - name: Build solution
      run: msbuild DarkEnforcer.sln /p:Configuration=Release /p:Platform="x64"
    - name: Upload artifacts
      uses: actions/upload-artifact@v3
      with:
        name: DarkEnforcer-Windows-Binary
        path: |
          **/Release/*.exe
          **/Release/*.dll
